.agent-page .item {width: 45%;margin: 0 2%;display: inline-block;}
.agent-page .item a { display: block; }
.agent-page .item img {max-width: 100%;background: #ffffff;padding: 5px;vertical-align: top;}
.agent-page .item p {text-align: center;margin: 5px 0;color: #000000;font-size: 16px;box-sizing: border-box;}
